html{
    height: 100%;
    font-family: arial,sans-serif;
    overflow: visible;
    display: block;
}

body{
    height: 100%;
    font-size: 14px;
    font-family: arial,sans-serif;
    margin: 0px;
    padding: 0px;
    display: block;
    float: none;
    line-height: normal;

}

bold{
    font-weight: bold;
}
/*link styling*/
a.result-link:link{
    cursor: pointer;
    color: #1a0dab;
    text-decoration: none;
}

a.result-link:hover{
    text-decoration: underline;
}

a.result-link:visited{
    color: #609;
    text-decoration: none;
}

a.related-link:linK{
    cursor: pointer;
    color: #1a0dab;
    text-decoration: none;
}

a.related-link:hover{
    text-decoration: underline;
}

a.related-link:visited{
    color: #609;
    text-decoration-color: none;

}

a.footer-link:link{
    cursor: pointer;
    color: #5f6368;
    text-decoration: none;;
}

a.footer-link:visited{
    color: #5f6368;
}

a.footer-link:hover{
    color: black;
}
/*end link styling*/

/*header styling*/
header{
    display: block;
}

.header-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    min-width: 1261px;
    height: 69px;
    position: fixed;
    top: 0px;
    padding-bottom: 10px;
    z-index: 1;
    background-color: white;
}

.header-left{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.google{
    display: flex;
    height: 30px;
    width: 92px;
    padding: 4px 28px 0 24px; 
}

.search-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    padding-left: 15px;
}

#magglass{
    position: absolute;
    left: 820px;
    width: 16px;
    z-index: 1;
}

#text-input{
    height: 44px;
    width: 690px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border: 1px solid;
    border-color:#dfe1e5;
}

.header-right{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-top: 9px;
}

.apps{
    /*placeholder*/
}

.account{
    /*placeholder*/
}
/*end header styling*/

/*main styling*/
main{
    display: block;
    padding: 74px 0 0 0;
}

.type-select{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    width: 832px;
    height: 48px;
    margin-top: 0px;
}

.ts-left{
    display: flex;
    flex-direction: row;
    margin-left: 169px;
}

#all{
    border-bottom: 3px solid #1A73E8;
    color: #1A73E8;
    padding: 16px 12px 12px 10px;
}

#news{
    color: #5f6368;
    margin: 16px 12px 12px 10px;
}

#maps{
    color: #5f6368;
    margin: 16px 12px 12px 10px;
}

#videos{
    color: #5f6368;
    margin: 16px 12px 12px 10px;
}

#shopping{
    color: #5f6368;
    margin: 16px 12px 12px 10px;
}

#more{
    color: #5f6368;
    margin: 16px 12px 12px 10px;
}

.ts-right{
    display: flex;
    margin-top: 2px;
}

#settings{
    color: #5f6368;
    margin: 16px 14px 12px 10px;
}

#tools{
    color: #5f6368;
    margin: 16px 12px 12px 10px;
}

.ts-border{
    height: 1px;
    position: absolute;
    top: 1223x;
    border: none;
    width: 100%;
    margin: 0;
    background-color: #e8eaec;
}

.search-results{
    margin-left: 180px;
    width: 652px;
    height: 1000px;
}

.result-number{
    line-height: 43px;
    margin-top: 1px;
    font-size: 14px;
    color: #70757a;
}

.result-one{
    margin-top: 6px;
    margin-bottom: 28px;
}

.result-two{
    margin-bottom: 28px;
}

.result-three{
    margin-bottom: 28px;
}

.result-four{
    margin-bottom: 28px;
}

.result-title{
    color: #202124;
    font-size: 14px;
    cursor: default;
    line-height: 1.58;
}

.result-link{
    padding: 3px 0 3px 0;
    font-size: 20px;
    line-height: 26px; 
}

.result-desc{
    color: #4d5156;
    line-height: 1.58;
}

.bl-list{
    columns: 2;
    width: 614px;
    height: 170px;
    padding: 16px 0 4px 28px;
}

.bl-item{
    width: 294px;
    height: 70px;
    padding: 0 13px 15px 0;
}

.related{
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 28px;
}
    
.related-list{
    columns: 2;
    font-size: 14px;
    padding-top: 12px;
}

.related-link{
    line-height: 20px;
    margin: 3px 32px 3px 0;
}

.page-select-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 652;
    height: 58;
}

.page-select{
    display: flex;
}

.page-number{
    width: 18px;
    color: #4285f4;
    margin-right: 2px;
}

.page-number-one{
    width: 18px;
    color: black;
    margin-left: 26px;
}

.page-number-ten{
    width: 20px;
    color: #4285f4;
    margin-right: 20px;
}

.page-number-next{
    width: 20px;
    color: #4285f4;
    margin-left: 20px;
}
/*PAGE SELECT ELEMENTS GO HERE*/

/*end main styling*/

/*footer styling*/
.footer-box{
    background: #f2f2f2;
    display: block;
    position: static;
    bottom: 0px;
    width: 100%;
    height: 65px;
}

.footer-top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25px;
    padding: 0 0 0 180px;
    margin-left: 13px;
}

.footer-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding: 0 0 0 180px;
}

.dash{
    margin-left: 27px;
}

.footer-link{
    margin-left: 27px;
}
/*end footer styling*/